/__init__.pyc
/constantes.pyc
/controllerCartaTiro.pyc
/controllerCuarto.pyc
/controllerEquipo.pyc
/controllerJugador.pyc
/controllerPartido.pyc
/controllerStatAvanzadas.pyc
/controllerStatNormales.pyc
/funciones.pyc
/funcionesPartido.pyc
